html, body, #arcgis {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

.control-panel {
  position: absolute;
  background: #fff;
  right: 15px;
  top : 15px;
  // padding: 5px;

  ul {
    list-style: none;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-bottom: 0px;
  }
  li {
    padding:  10px;
    border-bottom: 1px solid #eee;
  }
  li:nth-last-child(1){
    border-bottom: 0px;
  }
  li:hover{
    background: #eee;
    cursor: pointer;
  }
}
